<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/welcome.css">
<div class="container">
    <div class="jumbotron text-center">
        <h2>Wecome to UW Course Information</h2>
        <p>This is the Website is to give you course information and create your own timetable</p>
        <button class="btn btn-large btn-primary"><a href="/courseSearch">Course Information</a></button>
        <button class="btn btn-large btn-primary schedule"><a href="/mySchedule">Make Your Schedule</a></button>
    </div>
</div>
<% include partials/footer %>