.container .jumbotron {
    background: #BA8B02;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px auto;
}

button a {
    color: white;
}

button a:visited {
    color: white;
}

button a:hover {
    color: white;
    text-decoration: none;
}

button:focus {
    outline: none;
}

